 /* Estilo del documento */
 
 block {
     display: block;
 }
 
 body {
     margin: 0;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
 }
 /* Estilo del encabezado. Margin negativo se utiliza para que el encabezado vaya sobre la imagen de la siguiente sección y opacity para que sea transparente. */
 
 header {
     opacity: 1;
     height: 115px;
     margin-bottom: -125px;
     position: fixed;
 }
 
 header img {
     float: left;
     margin: 35px 0px 35px 75px;
     z-index: 1;
 }
 
 .log {
     float: right;
     padding-left: 580px;
     padding-top: 42px;
 }
 
 .log a {
     text-decoration: none;
     color: white;
     margin: 25px;
     z-index: 1;
     font-size: 18px;
 }
 
 .log a:hover {
     color: #FF00BF;
 }
 
 .log-in:hover {
     border: none;
 }
 /*Sección para el formulario */
 
 .log-in {
     border: 1px solid white;
     padding: 11px 22px 11px 22px;
     border-radius: 10px;
 }
 
 .drive {
     right: 200px;
 }
 
 .taxi {
     height: 535px;
     z-index: 0;
     background-image: url("../assets/images/hero.gif");
     background-size: 100% 100%;
     background-repeat: no-repeat;
     max-width: 100%;
 }
 /* Contenedor del formulario */
 
 .input {
     margin-top: 115px;
     padding-left: 50px;
     padding-top: 0px;
     height: 420px;
     width: 485px;
     background: white;
     color: #37277F;
     text-align: left;
     clear: both;
     float: right;
 }
 
 .miles {
     font-size: 40px;
     font-weight: 700;
     margin-bottom: 10px;
 }
 
 .sign-up {
     font-size: 16px;
     font-weight: 300;
     margin-top: 0px;
 }
 /*Campo del formulario */
 
 input[type="text"] {
     width: 430px;
     border: none;
     height: 40px;
     font-size: 18px;
     color: white;
     padding-top: 5px;
     border-bottom: 1px solid #37277F;
     margin-bottom: 40px;
 }
 
 .become {
     background: #FF00BF;
     color: white;
     text-decoration: none;
     height: 50px;
     width: 184;
     border-radius: 10px;
     padding: 14px 20px 14px 20px;
     margin: 20px 15px 20px 0px;
 }
 
 .become:hover {
     background: rgb(129, 3, 98);
 }
 
 .sign-button {
     color: #718097;
     padding-top: 20px;
     margin: 20px 0px 20px 10px;
 }
 
 .sign-button:hover {
     color: #FF00BF;
 }
 
 .check {
     margin-top: 40px;
 }
 
 .check,
 .earn {
     font-size: 12px;
     color: #718097;
 }
 
 .check a,
 .earn a {
     text-decoration: none;
     color: #718097;
 }
 
 .check a:hover,
 .earn a:hover {
     color: #FF00BF;
 }
 /* Sección con el teléfono y el texto blanco */
 
 .purple {
     height: 640px;
     background: linear-gradient(#6B1E7E, #2B1E66);
 }
 
 .phone {
     float: right;
     margin-right: 145px;
     margin-top: 62px;
     clear: both;
 }
 
 .purple-container {
     padding-top: 58px;
     padding-left: 150px;
 }
 
 .purple-header {
     font-size: 28px;
     font-weight: 400;
     line-height: 100%;
 }
 
 .purple p {
     line-height: 150%;
     text-align: left;
     color: white;
 }
 /* Contenedor del primer video */
 
 .first-video-container {
     background: white;
     height: 464px;
 }
 
 .watch {
     font-size: 10px;
     margin-bottom: -18px;
 }
 
 .text-title {
     padding-top: 0px;
     font-size: 20px;
     font-weight: 600;
     padding-bottom: 6px;
 }
 
 .text-description {
     font-size: 15px;
     padding-bottom: 3px;
     font-weight: 400;
 }
 
 .text-box-1 {
     float: left;
     text-align: left;
     margin-left: 50px;
     margin-top: 30px;
 }
 
 #first-video {
     float: right;
 }
 /* Sección del segundo video */
 
 .second-video-container {
     background: white;
     height: 464px;
 }
 
 .text-box-2 {
     float: right;
     text-align: left;
     margin-top: 30px;
     margin-right: 80px;
 }
 
 #second-video {
     float: left;
 }
 /* Sección del tercer video */
 
 .third-video-container {
     background: white;
     height: 464px;
 }
 
 .text-box-3 {
     float: left;
     text-align: left;
     margin-left: 50px;
     margin-top: 30px;
 }
 
 #third-video {
     float: right;
 }
 /*Pie de página */
 
 footer {
     height: 497px;
     background: #333546;
     position: relative;
 }
 
 .logo-container {
     width: 170px;
     float: right;
     margin-right: 250px;
     margin-top: 82px;
 }
 
 .text-container-left,
 .text-container-middle,
 .text-container-right {
     float: left;
     color: white;
     margin-top: 55px;
     margin-right: 128px;
     text-align: left;
 }
 
 .text-container-left {
     margin-left: 120px;
 }
 
 .text-container-left p,
 .text-container-middle p,
 .text-container-right p {
     margin-top: 30px;
 }
 
 footer img {
     margin-bottom: 40px;
 }
 
 footer .icon-container {
     position: absolute;
 }
 
 footer i {
     color: white;
     position: absolute;
     top: 360px;
     font-size: 21px;
     border: 1px solid white;
     border-radius: 50px;
     margin: 0 auto;
     height: 22px;
     width: 28px;
     margin: 20px;
     padding-top: 6px;
 }
 
 footer .fa-twitter {
     left: 530px;
 }
 
 footer .fa-facebook {
     left: 600px;
 }
 
 footer .fa-instagram {
     left: 670px;
 }
 
 footer hr {
     position: absolute;
     top: 420px;
     border: .3px solid white;
     width: 626px;
     left: 310px;
 }
 
 footer span {
     color: white;
     position: absolute;
     top: 445px;
     font-size: 15px;
     left: 510px;
 }
 
 footer a {
     text-decoration: none;
     color: white;
     margin-left: 10px;
 }
 
 footer a:hover {
     color: #FF00BF;
     text-decoration: underline;
 }